* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #151729;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sequencer {
  padding: 50px 50px;
  background-color: #23263e;
  border-radius: 25px;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
  column-gap: 5px;
  color: white;
}

i,
svg {
  pointer-events: none;
}

.pad {
  transition: all 0.5s ease;
}

.kick-pad,
.snare-pad,
.hihat-pad {
  width: 70px;
  height: 70px;
  margin: 10px 10px;
  cursor: pointer;
  border-radius: 15px;
}
.kick-pad {
  border: #0fd0e5 4px solid;
}
.snare-pad {
  border: #ff1687 4px solid;
}
.hihat-pad {
  border: blueviolet 4px solid;
}
.kick-pad.active {
  background-color: #0fd0e5;
}
.snare-pad.active {
  background-color: #ff1687;
}
.hihat-pad.active {
  background-color: blueviolet;
}

.kick-track,
.snare-track,
.hihat-track {
  display: flex;
  justify-content: space-between;
}
.kick,
.snare,
.hihat {
  display: flex;
}

.mute {
  padding: 10px;
  border: none;
  background-color: rgb(185, 185, 185);
  margin: 0px 10px;
}
.mute.active {
  background-color: rgb(126, 124, 124);
  color: white;
}
select {
  padding: 10px;
  font-size: 13px;
}
.changer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.play {
  padding: 10px 20px;
  font-size: 15px;
  background-color: coral;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  margin-top: 15px;
}
.tempo {
  margin: 15px;
  width: 30%;
}
.tempo-slider {
  padding: 1px;
  -webkit-appearance: none;
  margin: 10px 0px;
  width: 100%;
  position: relative;
  background-color: thistle;
  cursor: pointer;
  border-radius: 15px;
}
.tempo p {
  font-size: 13px;
  text-align: center;
  color: white;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

@media only screen and (max-width: 1000px) {
  .kick-pad,
  .snare-pad,
  .hihat-pad {
    width: 30px;
    height: 30px;
    margin: 10px 10px;
    cursor: pointer;
    border-radius: 15px;
  }
}

@media only screen and (max-width: 800px) {
  .sequencer {
    padding: 50px 50px;
    background-color: #23263e;
    border-radius: 0px;
  }
}
